{% extends "base.html.twig" %}

{% block title %}Price{% endblock %}
 {% block body %}
 <section id="price">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              <h2>Basic</h2>
            </div>
            <div class="price">
              <h4>FREE</h4>
            </div>
            <div class="option">
              <ul>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Free courses </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
              </ul>
            </div>
            <a href="{{ path('app_register') }}">Subscribe Now </a>
          </div>
        </div>
        <div class="col-md-8">
                  <!--
                  <video id="my-video" class="video-js" controls preload="auto" poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" data-setup='' loop>
            <source src="https://player.vimeo.com/external/363440569.sd.mp4" type='video/mp4'>
            </video>
                  -->  

<iframe id="my-video" class="video-js" src="//player.vimeo.com/video/166335957?title=0&amp;portrait=0&amp;byline=0&amp;autoplay=1&amp;loop=1&amp;transparent=1" allowfullscreen="" data-ready="true"></iframe>        </div>
       
      </div>
    </div>
  </div>
</section>

 {% endblock %}
 