<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title" >Price</span>
          </li>
 
          <li class="nav-item">
            <a class="nav-link" href="/price">Plans & Prices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Frequently asked questions</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Learn more</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feature">Features</a>
          </li>
 
        </ul>
      </div>
      <div class="col-lg-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Contact & Support</span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><i class="fas fa-phone"></i>+00 00 00 00 00</span>
          </li>
    <!--
    <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-envelope"></i>Contact us</a>
          </li>
    -->
          
      
        </ul>
      </div>
    </div>
    <hr style=" border: 1px solid #fff;">

    <div class="row" >
      <div class="col-lg-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="copyright quick-links">Copyright &copy;Symfony project <script>document.write(new Date().getFullYear())</script>

          </li>
 
       
        
        </ul>
      </div>
      <div class="col-lg-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a href="#">Terms of Use</a>

          </li>
 
        </ul>
      </div>
      
   
    </div>






















       

</footer>