{% extends "base.html.twig" %}

{% block title %}Feature{% endblock %}
 {% block body %}
 <h1 class="text-dark w-70">I am committed to learning and sharing IT skills</h1>
 <p class="fw-normal w-70">Our products and features include innovative privacy technologies and techniques designed to minimize how much of your data we — or anyone else — can access. </p>
 <p  class="fw-normal w-70">And powerful security features help prevent anyone except you from being able to access your information. We are constantly working on new ways to keep your personal information safe.

Safari</p>
 <!-- voir apple https://www.apple.com/privacy/features/-->
<div class="block-grey row">

<div class="col-lg-6" style="padding:0;">
 <img class="feature1" src="https://www.apple.com/v/privacy/q/images/features/maps__c35z2vep1866_large.jpg"/>
</div>

<div  class="col-lg-6 feature1-p">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis condimentum quam. Phasellus tortor nisl, rhoncus quis cursus a, mattis vel lorem. Nullam ex lacus, aliquet vitae justo a, volutpat congue felis. Sed vel commodo felis. In hac habitasse platea dictumst. Donec sagittis libero eu dictum mattis. Aenean vel hendrerit felis, quis blandit est.
</p>
<p>
Nunc nisi mauris, imperdiet in leo at, maximus aliquet mi. Nam a tellus blandit, finibus purus vel, consequat libero. Nullam vel risus vitae augue varius pharetra quis at augue. Maecenas tristique, lectus vel blandit sollicitudin, nunc leo aliquet turpis, interdum tempus nisi odio vitae nibh. Sed laoreet arcu augue, ut luctus nunc fermentum at. Sed tristique ante at bibendum dignissim. Curabitur ante odio, pulvinar vitae ex condimentum, luctus tempus purus. Etiam molestie porta suscipit. Sed hendrerit sagittis purus non ornare. Sed lectus turpis, molestie eu velit eget, faucibus molestie neque. Aliquam erat volutpat.
</p>
<p>
Vivamus nec semper turpis, sed convallis sapien. Pellentesque ornare nibh neque, quis sagittis leo dapibus eu. Sed lectus metus, bibendum et turpis ultricies, aliquet pellentesque leo. Donec ullamcorper varius finibus. Praesent vel dui egestas, varius nisi id, ultrices urna. Duis neque mi, pulvinar vel quam eu, luctus vestibulum nisi. Donec egestas pharetra dictum. Proin maximus massa id est commodo facilisis.
</p>
</div>

</div>
<!----------------------------------->
<div class="row feature2-p">
<div class="col-lg-6">
<h2>Product</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus dapibus diam, ac mattis ex consectetur eleifend. Curabitur ac odio felis. Nulla nec bibendum lorem. Nulla at ante pretium, lobortis metus ut, congue diam. Aliquam ut porttitor urna. Pellentesque diam augue, rhoncus quis neque et, tempus mattis lectus. Maecenas eu blandit nulla. Quisque tincidunt sapien ut dolor pulvinar dignissim. Sed et pretium enim, nec faucibus metus. Cras tempor tincidunt rutrum. Fusce ac ante in diam luctus pellentesque quis sit amet sapien. Curabitur egestas ligula a bibendum aliquam. Maecenas aliquam interdum molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris fringilla placerat est, vitae pharetra sem vehicula in. Phasellus venenatis lectus dui, eu consequat nisi vestibulum varius.
</p>
</div>
<div class="col-lg-6">
<h2>Product</h2>
<p>
Donec dignissim varius mauris luctus blandit. Quisque sit amet ipsum gravida, tempor purus a, volutpat elit. Sed eu libero vel libero fringilla interdum eu a nunc. Sed nulla metus, elementum in diam ut, fringilla porta turpis. Vivamus egestas est vel metus aliquam, quis venenatis massa vestibulum. Praesent pulvinar ante ut ex venenatis, fringilla scelerisque tortor laoreet. Sed sit amet ultrices elit, a feugiat velit. Nunc mauris diam, hendrerit non pretium nec, sodales eu risus. Aliquam in nisl tristique, condimentum est et, tempus nisi. Curabitur eu metus varius, gravida urna sit amet, faucibus neque. In efficitur porttitor ultricies. Nullam lectus lacus, placerat nec ornare quis, molestie at erat.
</p>
</div>

</div>

<div class="row feature2-p">
<div class="col-lg-6">
<h2>Product</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus dapibus diam, ac mattis ex consectetur eleifend. Curabitur ac odio felis. Nulla nec bibendum lorem. Nulla at ante pretium, lobortis metus ut, congue diam. Aliquam ut porttitor urna. Pellentesque diam augue, rhoncus quis neque et, tempus mattis lectus. Maecenas eu blandit nulla. Quisque tincidunt sapien ut dolor pulvinar dignissim. Sed et pretium enim, nec faucibus metus. Cras tempor tincidunt rutrum. Fusce ac ante in diam luctus pellentesque quis sit amet sapien. Curabitur egestas ligula a bibendum aliquam. Maecenas aliquam interdum molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris fringilla placerat est, vitae pharetra sem vehicula in. Phasellus venenatis lectus dui, eu consequat nisi vestibulum varius.
</p>
</div>
<div class="col-lg-6">
<h2>Product</h2>
<p>
Donec dignissim varius mauris luctus blandit. Quisque sit amet ipsum gravida, tempor purus a, volutpat elit. Sed eu libero vel libero fringilla interdum eu a nunc. Sed nulla metus, elementum in diam ut, fringilla porta turpis. Vivamus egestas est vel metus aliquam, quis venenatis massa vestibulum. Praesent pulvinar ante ut ex venenatis, fringilla scelerisque tortor laoreet. Sed sit amet ultrices elit, a feugiat velit. Nunc mauris diam, hendrerit non pretium nec, sodales eu risus. Aliquam in nisl tristique, condimentum est et, tempus nisi. Curabitur eu metus varius, gravida urna sit amet, faucibus neque. In efficitur porttitor ultricies. Nullam lectus lacus, placerat nec ornare quis, molestie at erat.
</p>
</div>

</div>
<!------------------>
<div class="block-grey-3 row">


<div  class="col-lg-6 feature3-p">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis condimentum quam. Phasellus tortor nisl, rhoncus quis cursus a, mattis vel lorem. Nullam ex lacus, aliquet vitae justo a, volutpat congue felis. Sed vel commodo felis. In hac habitasse platea dictumst. Donec sagittis libero eu dictum mattis. Aenean vel hendrerit felis, quis blandit est.
</p>
<p>
Nunc nisi mauris, imperdiet in leo at, maximus aliquet mi. Nam a tellus blandit, finibus purus vel, consequat libero. Nullam vel risus vitae augue varius pharetra quis at augue. Maecenas tristique, lectus vel blandit sollicitudin, nunc leo aliquet turpis, interdum tempus nisi odio vitae nibh. Sed laoreet arcu augue, ut luctus nunc fermentum at. Sed tristique ante at bibendum dignissim. Curabitur ante odio, pulvinar vitae ex condimentum, luctus tempus purus. Etiam molestie porta suscipit. Sed hendrerit sagittis purus non ornare. Sed lectus turpis, molestie eu velit eget, faucibus molestie neque. Aliquam erat volutpat.
</p>

</div>
<div class="col-lg-6" style="padding:0">
 <img class="feature3-img" src="https://thumbs.dreamstime.com/b/jour-de-terre-d-environnement-dans-les-mains-des-arbres-cultivant-jeunes-plantes-bokeh-verdissent-la-main-femelle-fond-tenant-l-130247647.jpg"/>
</div>


</div>
 {% endblock %}
 