{% extends "base.html.twig" %}

{% block title %}Delete training{% endblock %}
 {% block body %}
 <section id="training">
 <!--liste-->

<h2>Delete a training</h2>

{{ form_start(form, {'action': path('training-delete'), 'method': 'DELETE'}) }}
{{ form_end(form) }}
</section>

 {% endblock %}
 