{% extends "base.html.twig" %}

{% block title %}Price{% endblock %}
 {% block body %}
 <section id="training">
 <!--detail-->

<!--{{dump(training)}}-->
<h4 class="card-title ">{{ training.title }}</h4>
<div>{{ training.description }}</div>
</section>

 {% endblock %}
 